# Относительный путь от корня проекта до файла с данными
DATA_PATH=data/dataset.csv

# Папка, куда сохраняются обученные модели (относительно корня)
ARTIFACTS_DIR=artifacts

# Имена файлов артефактов
MODEL_NAME=model.pkl
SCALER_NAME=scaler.pkl

# Настройки сервера (для API)
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO