# project/configs/.env.example

# Пути к данным и артефактам
DATA_PATH=data/credit_cards_dataset.csv
ARTIFACTS_DIR=artifacts
MODEL_NAME=best_model.pkl
SCALER_NAME=scaler.pkl

# Настройки сервера
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

# Секреты (если будут добавлены позже, например, API ключи)
# SECRET_KEY=change_me_in_production